<section id='order-payment'>
  <header class='order-title'>
    <h2 class='payment-title' style="text-align: center;">Tu ficha de pago</h2>
  </header>
  <div class='order-body'>
    <% @order.all_non_credit_payments.each do |payment| %>
      <%= render partial: @order.last_payment_source, locals: { payment: payment } %>
    <% end %>
  </div>
  <footer class='order-footer'>
    <%= button_tag 'Imprimir formulario de pago', id: 'print-payment', class: 'icon-print'  %>
  </footer>
</section>


<script type="text/javascript">
  $(document).ready(function() {
    $('#print-payment').click(function(){
      console.log("print");
      var divName = "printable-ticket";
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;

    });
  });
</script>
